{
  "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
  "database.hostname": "postgres",
  "database.port": "5432",
  "database.user": "${POSTGRES_USER}",
  "database.password": "${POSTGRES_PASSWORD}",
  "database.dbname": "${POSTGRES_DB}",
  "topic.prefix": "millrace",
  "plugin.name": "pgoutput",
  "slot.name": "millrace_debezium",
  "publication.name": "millrace_publication",
  "publication.autocreate.mode": "filtered",
  "schema.include.list": "retail",
  "table.include.list": "retail.customers,retail.products,retail.orders,retail.order_items",
  "snapshot.mode": "initial",
  "heartbeat.interval.ms": "10000",
  "tombstones.on.delete": "false",
  "decimal.handling.mode": "string",
  "time.precision.mode": "adaptive_time_microseconds",
  "transforms": "route",
  "transforms.route.type": "org.apache.kafka.connect.transforms.RegexRouter",
  "transforms.route.regex": "millrace\\.retail\\.(.*)",
  "transforms.route.replacement": "millrace.$1",
  "topic.creation.default.replication.factor": "1",
  "topic.creation.default.partitions": "3",
  "topic.creation.default.cleanup.policy": "delete",
  "topic.creation.default.retention.ms": "604800000"
}
